name: Deploy + Test (Merge - Prod)

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init (prod backend)
        working-directory: infra
        run: terraform init -reconfigure -backend-config=backend-prod.hcl

      - name: Terraform Apply (prod)
        working-directory: infra
        run: |
          terraform apply -auto-approve \
            -var-file=prod.tfvars \
            -var="bucket_name=${{ secrets.S3_BUCKET_NAME }}"

      - name: Invoke Prod Endpoint
        working-directory: infra
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          API=$(terraform output -raw api_invoke_url)
          ROUTE=$(terraform output -raw route)

          echo "Invoking: ${API}${ROUTE}"
          curl -i -sS -X POST "${API}${ROUTE}" \
            -H "content-type: application/json" \
            -d '{"text":"This is from GitHub Actions (prod)."}' | tee response.txt

          echo
          echo "---- Parsed body (if JSON) ----"
          tail -n 1 response.txt | jq . || true