name: Deploy + Test (Merge - Prod)

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  prod:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init (prod backend)
        working-directory: infra
        run: terraform init -reconfigure -backend-config=backend-prod.hcl

      - name: Terraform Apply (prod)
        working-directory: infra
        run: |
          terraform apply -auto-approve \
            -var-file=prod.tfvars

      - name: Invoke Prod Endpoint
        working-directory: infra
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          API=$(terraform output -raw api_invoke_url)
          curl -sS -X POST "${API}/prod/synthesize" \
            -H "content-type: application/json" \
            -d '{"text":"This is from GitHub Actions (prod)."}' | jq .
